nav{
    

 margin-top: 20px;
 padding: 0 20px;
}

ul{
    max-width: 1400px;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style: none;
    
    border-radius: 20px;
    
    box-shadow: 0 0 50px #ccc;
    /* border: 1px solid grey; */
}
ul li{
    padding: 4px 10px;
    box-shadow: 0 0 50px #ccc;
    border: 1px solid grey;
    border-radius: 5px;
    /* border: 1px solid grey; */
}
ul li:hover{
   
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    /* border: 1px solid grey; */
}

@media screen and (max-width: 500px ){
    ul li{
        padding: 4px 10px;
        box-shadow: 0 0 50px #ccc;
        border: 1px solid grey;
        border-radius: 5px;
        /* border: 1px solid grey; */
    }

    ul{
        max-width: 1400px;
        margin: auto;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
       
    }
}